/* 1. Replace the ?????? with the correct selector */
div[class^="color"] {
    display: flex;
    width: 500px;
    margin: auto;
}

div[class^="color"] > * {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 10px;
}

/* 2. Create two styles for the flex styles.
One will make a circle, the other the long pill shape */

.circle {
    flex: 0 1 auto;
}

.long {
    flex: 1 1 auto;
}


/* 3. Replace the ?????? with the correct selector */
.color1 > * {
    background-color:#264653;
}
.color2 > * {
    background-color:#2a9d8f;
}
.color3 > * {
    background-color:#e9c46a;
}
.color4 > * {
    background-color:#f4a261;
}
.color5 > * {
    background-color:#e76f51;
}
